body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #252525;
  background-image: url(../imgs/bg-wallpaper.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }

.navbar-transparent {
  height: 6.5625rem;
  padding: 2.25rem; }

.logo {
  color: #FFFFFF;
  font-size: 2.5rem;
  font-family: "Permanent Marker", serif;
  text-shadow: 0 1px #333; }

.navbar-toggle .icon-bar {
  background-color: #252525; }

.navbar .navbar-nav > li > a {
  color: #FFFFFF;
  font-size: 1rem;
  padding-right: 1.25rem;
  line-height: -1;
  font-weight: bold; }

.navbar-default .navbar-toggle {
  border-color: #FFFFFF; }

.pimg, .pimg1 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%; }

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  font-style: italic;
  font-size: 4.3rem;
  text-transform: uppercase;
  font-family: "Playfair Display", serif; }

#bottom-margin {
  margin-bottom: 3rem; }

.pimg1 {
  background-image: url(../imgs/bg-header5.jpg); }

.borders span {
  display: inline-block;
  position: relative; }

.borders span:before,
.borders span:after {
  content: "";
  position: absolute;
  height: 10px;
  border-bottom: 5px solid #eea804;
  top: 8px;
  width: 10rem; }

.borders span:before {
  right: 115%;
  margin-right: 15px; }

.borders span:after {
  left: 115%;
  margin-left: 15px; }

.menu-headers {
  text-align: center;
  line-height: 0.8;
  margin: 5rem 0;
  font-family: "Playfair Display", serif; }

.black-border {
  position: relative;
  padding-bottom: 5px; }

.black-border:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #333;
  width: 5rem;
  bottom: 0;
  left: 1px; }

.contact-page {
  margin-top: 2rem;
  padding: 2rem; }

.contact-section {
  color: #FFFFFF;
  margin-left: 2rem; }

.contact-content {
  float: left;
  width: 20%; }
  .contact-content .email {
    padding-top: 2.125rem; }
  .contact-content .fa-envelope, .contact-content .fa-phone {
    margin: 0 3px 0 3px;
    font-size: 1.25rem; }

.opening-section {
  position: relative;
  margin-left: 2rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .opening-section .hours {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between; }
  .opening-section .hours ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .opening-section .hours ul:first-child {
    font-weight: 700; }
  .opening-section .hours ul:last-child {
    font-weight: 100; }
  .opening-section .hours ul li {
    padding-right: 6rem;
    padding-bottom: 8px; }

.clearfix:after {
  clear: both; }

.contact-address {
  padding-top: 1.2rem; }

.copyright {
  float: right;
  position: relative;
  left: 10%; }

.content {
  text-align: center; }

.fa-facebook-f, .fa-instagram, .fa-twitter {
  margin: 1rem;
  font-size: 1.25rem; }

/*# sourceMappingURL=base.css.map */
