body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #000009; }

.border-bottom, .section-two .waffle-border hr, .section-two .b-container hr, .section-three hr {
  width: 5%;
  border-bottom: 5px solid #f41313;
  border: 0;
  border-top: 3px solid #f41313; }

.navbar-default {
  background: #FFFFFF; }

.navbar-default .navbar-brand {
  color: #000009; }

.navbar-brand {
  padding: 1em; }

.navbar-toggle .icon-bar {
  background-color: black; }

.navbar-brand {
  font-size: 2.5rem;
  padding: 1rem;
  margin: 1rem;
  color: #FFFFFF;
  font-family: "Permanent Marker", cursive; }

.navbar .navbar-nav > li > a {
  color: #000009;
  line-height: 3rem;
  padding-left: 3rem; }

.navbar-default .navbar-toggle {
  border-color: #FFFFFF; }

.pimg, .pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.80;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%; }

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  font-size: 4rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-family: "Permanent Marker", cursive; }

.pimg1 {
  background-image: url(../imgs/bg-header.jpg);
  opacity: 0.90; }

.section-two {
  height: 120vh;
  color: #000009;
  font-family: "Source Sans Pro", sans-serif; }
  .section-two .waffle-border {
    position: relative;
    bottom: 5rem; }
    .section-two .waffle-border h1 {
      text-align: center;
      font-family: "Lobster", cursive;
      font-size: 4em;
      margin-top: 5px;
      margin-bottom: 0; }
    .section-two .waffle-border img {
      position: relative;
      bottom: 1rem;
      width: 25em;
      margin: 0 auto;
      display: block;
      border-radius: 100%;
      background: #FFFFFF; }
    .section-two .waffle-border hr {
      margin-top: 2em; }
  .section-two .b-container {
    display: flex;
    justify-content: center;
    text-align: center; }
    .section-two .b-container img {
      display: block;
      margin: 0 auto; }
    .section-two .b-container h3 {
      margin-top: 2em;
      margin-bottom: 0;
      font-weight: bold; }
    .section-two .b-container p {
      margin: 0 10px;
      padding: 1em;
      font-size: 1rem; }
    .section-two .b-container a {
      text-decoration: none;
      background: #000009; }
    .section-two .b-container hr {
      margin-top: 1rem;
      width: 3rem; }

.section-three {
  background: #f6f6f6;
  height: 90vh; }
  .section-three .history-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2em;
    position: relative;
    top: 2em; }
  .section-three .his-description {
    align-self: center;
    position: relative;
    top: 4em;
    left: 8em;
    margin: 3em;
    padding: 2em; }
  .section-three h2 {
    font-family: "Lobster", cursive;
    font-size: 4em; }
  .section-three hr {
    width: 15%;
    margin: 2rem 0; }
  .section-three p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2em; }
  .section-three .btn-default {
    background: #f41313;
    color: #FFFFFF;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    border-radius: 2px;
    margin-top: 2rem;
    width: 25%;
    padding: 8px; }
  .section-three .his-image {
    position: relative;
    top: 5em;
    right: 1em;
    margin: 1em 0 0 10em; }
  .section-three #stack {
    left: 0px;
    top: 0px;
    z-index: -1; }
  .section-three #stack-right {
    position: absolute;
    left: 10em;
    top: 10em; }

.pimg2 {
  background-image: url(../imgs/bg-header2.jpg);
  margin: 5em;
  background-attachment: scroll; }
  .pimg2 .border {
    color: #000009; }

.section-four {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .section-four .menu {
    min-height: 100%; }
  .section-four .menu-opacity, .section-four .menu-one:hover > .menu-content, .section-four .menu-two:hover > .menu-content, .section-four .menu-three:hover > .menu-content, .section-four .menu-four:hover > .menu-content, .section-four .menu-five:hover > .menu-content, .section-four .menu-six:hover > .menu-content, .section-four .menu-seven:hover > .menu-content, .section-four .menu-eight:hover > .menu-content, .section-four .menu-nine:hover > .menu-content {
    opacity: 0;
    transition: opacity 300ms ease; }
  .section-four .menu-one, .section-four .menu-two, .section-four .menu-three, .section-four .menu-four,
  .section-four .menu-five, .section-four .menu-six, .section-four .menu-seven, .section-four .menu-eight, .section-four .menu-nine {
    margin: 0 5em 5em 5em;
    height: 100%; }
  .section-four .menu-one:hover {
    background: url(../imgs/his2-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em; }
  .section-four .menu-two {
    margin-top: 10em; }
  .section-four .menu-two:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em; }
  .section-four .menu-three:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em; }
  .section-four .menu-four:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em; }
  .section-four .menu-five {
    margin-top: 10em; }
  .section-four .menu-five:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em; }
  .section-four .menu-six:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em; }
  .section-four .menu-seven:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em; }
  .section-four .menu-eight {
    margin-top: 10em; }
  .section-four .menu-eight:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em; }
  .section-four .menu-nine:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em; }

.pimg3 {
  background-image: url(../imgs/bg-header2.jpg);
  margin: 5em;
  background-attachment: scroll; }
  .pimg3 .border {
    color: #000009; }

/*# sourceMappingURL=main.css.map */
