body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #FFFFFF;
  background-image: url(../imgs/bg-wallpaper.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }

.navbar-transparent {
  background: transparent;
  height: 6.5625rem; }

.navbar-nav {
  width: 100%;
  text-align: center; }
  .navbar-nav > li {
    float: none;
    display: inline-block; }

.navbar-toggle .icon-bar {
  background-color: black; }

.navbar .navbar-nav > li > a {
  color: #FFFFFF;
  padding: 3rem 1.25rem;
  font-family: "Source Sans Pro", sans-serif; }

.navbar .navbar-nav > li > .logo {
  font-size: 3rem;
  margin: 0 2rem;
  padding: 3rem 1.25rem;
  font-family: "Permanent Marker", serif; }

.navbar-default .navbar-toggle {
  border-color: #FFFFFF; }

.pimg, .pimg1 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%; }

.ptext {
  position: absolute;
  top: 45%;
  width: 100%;
  color: #FFFFFF;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: "Playfair Display", serif; }

#bottom-margin {
  margin-bottom: 3rem; }

.pimg1 {
  background-image: url(../imgs/bg-header5.jpg); }

.borders span {
  display: inline-block;
  position: relative; }

.borders span:before,
.borders span:after {
  content: "";
  position: absolute;
  height: 10px;
  border-bottom: 5px solid #EBD38D;
  top: 8px;
  width: 10rem; }

.borders span:before {
  right: 115%;
  margin-right: 15px; }

.borders span:after {
  left: 115%;
  margin-left: 15px; }

.menu-headers {
  text-align: center;
  line-height: 0.8;
  margin: 5rem 0;
  font-family: "Playfair Display", serif; }

.black-border {
  position: relative;
  padding-bottom: 5px; }

.black-border:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #333;
  width: 5rem;
  bottom: 0;
  left: 1px; }

.contact-page {
  margin-top: 2rem;
  padding: 2rem; }

.contact-section {
  color: #FFFFFF;
  margin-left: 2rem; }

.contact-content {
  float: left;
  width: 20%; }
  .contact-content .email {
    padding-top: 2.125rem; }
  .contact-content .fa-envelope, .contact-content .fa-phone {
    margin: 0 3px 0 3px;
    font-size: 1.25rem; }

.opening-section {
  position: relative;
  margin-left: 2rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .opening-section .hours {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between; }
  .opening-section .hours ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .opening-section .hours ul:first-child {
    font-weight: 700; }
  .opening-section .hours ul:last-child {
    font-weight: 100; }
  .opening-section .hours ul li {
    padding-right: 6rem;
    padding-bottom: 8px; }

.clearfix:after {
  clear: both; }

.contact-address {
  padding-top: 1.2rem; }

.copyright {
  float: right;
  position: relative;
  left: 10%; }

.content {
  text-align: center; }

.fa-facebook-f, .fa-instagram, .fa-twitter {
  margin: 1rem;
  font-size: 1.25rem; }

.bg-border .div1 {
  text-align: center;
  height: 100%;
  width: 100%;
  display: block; }
  .bg-border .div1 .div2 {
    width: 30%;
    background: transparent;
    z-index: 90;
    display: inline-block;
    text-align: center;
    padding: 5px;
    border: 3px solid #BD9350; }
  .bg-border .div1 .div3 {
    height: 95%;
    padding: 25px;
    width: 100%;
    border: 3px solid #BD9350;
    background: #BD9350;
    letter-spacing: 3px; }

.section-two {
  color: #252525;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 0; }
  .section-two .waffle-border {
    position: relative;
    bottom: 5rem; }
    .section-two .waffle-border h1 {
      line-height: 0.5;
      text-align: center;
      font-family: "Playfair Display", serif;
      font-size: 2.5rem;
      text-shadow: 0 1px #333;
      font-weight: bold;
      margin-top: 1.5rem;
      margin-bottom: 0; }
    .section-two .waffle-border img {
      position: relative;
      bottom: 1rem;
      margin: 0 auto;
      display: block;
      width: 18%;
      border-radius: 100%;
      background-color: #f4f4f4; }
  .section-two .b-container {
    margin: 3rem;
    display: flex;
    justify-content: center;
    text-align: center; }
    .section-two .b-container img {
      display: block;
      margin: 0 auto;
      width: 3.25rem; }
    .section-two .b-container h3 {
      margin-top: 2rem;
      font-size: 1.25rem;
      margin-bottom: 0;
      font-weight: bold;
      font-family: "Playfair Display", serif; }
    .section-two .b-container p {
      width: 85%;
      margin: 0 1.6rem;
      padding: 1em;
      font-size: 1rem;
      color: #696969;
      font-family: "Source Sans Pro", sans-serif; }
    .section-two .b-container a {
      text-decoration: none;
      background: #252525; }

.section-three {
  background-color: #df0024;
  color: #FFFFFF;
  margin-top: 4rem; }
  .section-three .product-yogurt {
    float: right;
    margin-top: 6.025em; }
  .section-three .content {
    margin-top: 5.5em;
    margin-left: 4em;
    text-align: left; }
  .section-three h1 {
    margin-top: 14px;
    font-size: 2.125rem;
    font-family: "Playfair Display", serif; }
  .section-three h4 {
    font-size: 1rem; }
  .section-three p {
    width: 40%;
    margin-top: 1rem;
    font-size: 1rem; }
  .section-three .btn {
    margin-top: 1rem;
    background-color: #252525;
    color: #FFFFFF;
    border-color: #252525;
    font-size: 16px; }

.section-four {
  margin-top: 5.5rem; }

.mapouter {
  overflow: hidden;
  height: 325px;
  width: 1260px; }

.gmap_canvas {
  background: none !important;
  height: 325px;
  width: 1260px; }

.menu-headers {
  text-align: center;
  line-height: 0.8;
  margin: 5rem 0;
  font-family: "Playfair Display", serif; }

/*# sourceMappingURL=main.css.map */
