body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #252525;
  background-image: url(../imgs/21.jpg);
  background-repeat: no-repeat;
  background-cover: cover; }

.navbar-default {
  background: #FFFFFF;
  height: 6.5625rem; }

.logo {
  background-image: url(../imgs/Logo-bg.png);
  font-size: 2.5em;
  height: 130px;
  font-family: "Permanent Marker", serif;
  margin: 0 2rem; }

.navbar-nav {
  width: 100%;
  text-align: center; }
  .navbar-nav > li {
    float: none;
    display: inline-block; }

.navbar-toggle .icon-bar {
  background-color: black; }

.navbar .navbar-nav > li > a {
  color: #252525;
  line-height: 4rem; }

.navbar .navbar-nav > li > .logo {
  color: #FFFFFF; }

.navbar-default .navbar-toggle {
  border-color: #FFFFFF; }

.pimg, .pimg1 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%; }

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  font-style: italic;
  font-size: 4.3rem;
  text-transform: uppercase;
  font-family: "Playfair Display", serif; }

#bottom-margin {
  margin-bottom: 3rem; }

.pimg1 {
  background-image: url(../imgs/bg-header5.jpg); }

.section-two {
  color: #252525;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 0; }
  .section-two .waffle-border {
    position: relative;
    bottom: 5rem; }
    .section-two .waffle-border h1 {
      line-height: 0.5;
      text-align: center;
      font-family: "Playfair Display", serif;
      font-size: 2.5rem;
      text-shadow: 0 1px #333;
      font-weight: bold;
      margin-top: 1.5rem;
      margin-bottom: 0; }
    .section-two .waffle-border .borders span {
      display: inline-block;
      position: relative; }
    .section-two .waffle-border .borders span:before,
    .section-two .waffle-border .borders span:after {
      content: "";
      position: absolute;
      height: 10px;
      border-bottom: 5px solid #8B1015;
      top: 8px;
      width: 10rem; }
    .section-two .waffle-border .borders span:before {
      right: 115%;
      margin-right: 15px; }
    .section-two .waffle-border .borders span:after {
      left: 115%;
      margin-left: 15px; }
    .section-two .waffle-border img {
      position: relative;
      bottom: 1rem;
      margin: 0 auto;
      display: block;
      width: 18%;
      border-radius: 100%;
      background-color: #f4f4f4; }
  .section-two .b-container {
    margin: 3rem;
    display: flex;
    justify-content: center;
    text-align: center; }
    .section-two .b-container img {
      display: block;
      margin: 0 auto;
      width: 3.25rem; }
    .section-two .b-container h3 {
      margin-top: 2rem;
      font-size: 1.25rem;
      margin-bottom: 0;
      font-weight: bold;
      font-family: "Playfair Display", serif; }
    .section-two .b-container p {
      width: 85%;
      margin: 0 1.6rem;
      padding: 1em;
      font-size: 1rem;
      color: #696969;
      font-family: "Source Sans Pro", sans-serif; }
    .section-two .b-container a {
      text-decoration: none;
      background: #252525; }

.section-three {
  background-color: #df0024;
  color: #FFFFFF;
  margin-top: 4rem; }
  .section-three .product-yogurt {
    float: right;
    margin-top: 6.025em; }
  .section-three .content {
    margin-top: 5.5em;
    margin-left: 4em; }
  .section-three h1 {
    margin-top: 14px;
    font-size: 2.125rem;
    font-family: "Playfair Display", serif; }
  .section-three h4 {
    font-size: 1.125rem; }
  .section-three p {
    width: 40%;
    margin-top: 1rem;
    font-size: 1rem; }
  .section-three .btn {
    margin-top: 1rem;
    background-color: #252525;
    color: #FFFFFF;
    border-color: #252525;
    font-size: 16px; }

.section-four {
  margin-top: 5.5rem; }

.mapouter {
  overflow: hidden;
  height: 325px;
  width: 1260px; }

.gmap_canvas {
  background: none !important;
  height: 325px;
  width: 1260px; }

.section-five {
  background-color: #252525;
  margin-top: 5.5rem;
  padding: 5rem; }

.contact-content, .opening-section {
  color: #FFFFFF; }

/*# sourceMappingURL=main.css.map */
