//Fonts
$ptext-color: #252525;
$header-font: 'Leckerli One', cursive;
$font-Helvetica: 'Helvetica', serif;
$font-Sans: 'Source Sans Pro', sans-serif;
$font-Lobster: 'Lobster', cursive;
$font-Playfair: 'Playfair Display', serif;
$text-white: #FFFFFF;
$trigger-width: 25px;
$trigger-border-weight: 3px;
$trigger-color: #fff;
$sthree-bg: #df0024;
$logo-bg: #8B1015;
$second-fcolor: #696969;
$logo-font: 'Permanent Marker', serif;

//Base
body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: $font-Sans;
  font-weight: 400;
  line-height: 1.8em;
  color: $text-white;
  background-image: url(../imgs/bg-wallpaper.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}


//Nav
.navbar-transparent {
  background: transparent;
  height: 6.5625rem;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }

.navbar-toggle .icon-bar {
    background-color: black;
}

.navbar .navbar-nav > li > a {
  color: $text-white;
  padding: 3rem 1.25rem;
  font-family: $font-Sans;
}

.navbar .navbar-nav > li > .logo {
  font-size: 3rem;
  margin: 0 2rem;
  padding: 3rem 1.25rem;
  font-family: $logo-font;
}

.navbar-default .navbar-toggle {
    border-color: $text-white;
}

.pimg {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
}

.ptext {
  position: absolute;
  top: 45%;
  width: 100%;
  color: $text-white;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: $font-Playfair;
}

#bottom-margin {
  margin-bottom: 3rem;
}

.pimg1 {
  @extend .pimg;
  background-image: url(../imgs/bg-header5.jpg);
}

//header borders left and right
.borders span {
  display: inline-block;
  position: relative;
}

.borders span:before,
.borders span:after {
  content: "";
  position: absolute;
  height: 10px;
  border-bottom: 5px solid #EBD38D;
  top: 8px;
  width: 10rem;
}

.borders span:before {
  right: 115%;
  margin-right: 15px;
}
.borders span:after {
  left: 115%;
  margin-left: 15px;
}

//menu-headers
.menu-headers {
  text-align: center;
  line-height: 0.8;
  margin: 5rem 0;
  font-family: $font-Playfair;
}

// black-border bottom
.black-border {
  position: relative;
  padding-bottom: 5px;
}

.black-border:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #333;
  width: 5rem;
  bottom: 0;
  left: 1px;
}

//Section menu-five
.contact-page {
  margin-top: 2rem;
  padding: 2rem;
}

.contact-section {
  color: $text-white;
  margin-left: 2rem;
}

.contact-content {
  float: left;
  width: 20%;

  .email {
    padding-top: 2.125rem;
  }

  .fa-envelope, .fa-phone {
    margin: 0 3px 0 3px;
    font-size: 1.25rem;
  }
}

.opening-section {
  position: relative;
  margin-left: 2rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

.hours {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.hours ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hours ul:first-child {
  font-weight: 700;
}

.hours ul:last-child {
  font-weight: 100;
}

.hours ul li {
  padding-right: 6rem;
  padding-bottom: 8px;
}

}

.clearfix:after {
  clear: both;
}

.contact-address {
  padding-top: 1.2rem;
}

.copyright {
  float: right;
  position: relative;
  left: 10%;
}

.content {
  text-align: center
}

.fa-facebook-f, .fa-instagram, .fa-twitter{
  margin: 1rem;
  font-size: 1.25rem;
}

.bg-border .div1 {
    text-align: center;
    height: 100%;
    width: 100%;
    display: block;

    .div2 {
    width: 30%;
    background: transparent;
    z-index: 90;
    display: inline-block;
    text-align: center;
    padding: 5px;
    border: 3px solid #BD9350;
    }

    .div3 {
    height: 95%;
    padding: 25px;
    width: 100%;
    border: 3px solid #BD9350;
    background: #BD9350;
    letter-spacing: 3px;
    }
}
