@import "base.scss";

.section-two {
  font-family: $font-Sans;
  margin-bottom: 0;

.waffle-border {
  position: relative;
  bottom: 5rem;

  h1 {
    line-height: 0.5;
    text-align: center;
    font-family: $font-Playfair;
    font-size: 2.5rem;
    text-shadow: 0 1px #333;
    font-weight: bold;
    margin-top: 4.5rem;
    padding-top: 5rem;
    margin-bottom: 0;
  }

  img {
    position: relative;
    top: 8rem;
    margin: 0 auto;
    display: block;
    width: 15%;
  }
}

.b-container {
  margin: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
    width: 3.25rem;
  }

  .nutrients-container, .protein-container, .arm-container {
    background-color: #fffafa;
    padding: 2.5rem 0;
    margin: 0 2rem;
    border-radius: 5%;
    width: 50%;
    color: $ptext-color;
  }


  h3 {
    margin-top: 2rem;
    font-size: 1.125rem;
    margin-bottom: 0;
    font-weight: bold;
    font-family: $font-Playfair;
  }

  p {
    width: 85%;
    margin: 0 1.6rem;
    padding: 1em;
    font-size: 0.875rem;
    color: #8b8b8b;
    font-family: $font-Sans;
  }

  a {
    text-decoration: none;
  }
}
} // End Section Two


.section-three {
  // background-color: #033332;
  color: $text-white;
  margin: 8rem 0;

  .product-yogurt {
    float: right;
    margin-top: 6.025em;
  }

  .content {
    margin-top: 5.5em;
    margin-left: 4em;
    text-align: left;
  }

  h1 {
    margin-top: 14px;
    font-size: 2.125rem;
    font-family: $font-Playfair;
  }

  h4 {
    font-size: 1rem;
  }

  p {
    width: 40%;
    margin-top: 1rem;
    font-size: 1rem;
  }

  .btn {
    margin-top: 1rem;
    padding: 10px 1.5rem;
    background-color: $text-white;
    color: $ptext-color;
    border-color: $text-white;
    border-radius: 0;
    font-size: 14px;
  }
}

//Map
.section-four {
  margin-top: 5.5rem;
}
.mapouter {
  overflow:hidden;
  height:325px;
  width:1260px;
}

.gmap_canvas {
  background:none !important;
  height:325px;
  width:1260px;
}

//menu-headers
.menu-headers {
  text-align: center;
  line-height: 0.8;
  margin: 5rem 0;
  font-family: $font-Playfair;
}

// Media Queries
@media only screen and (max-width: 600px) {
  #waffle-bowl {
    width: 100%;
  }

  .borders {
    font-size: 5px;
  }
}
