@import "base.scss";

.section-two {
  color: $ptext-color;
  font-family: $font-Sans;
  margin-bottom: 0;

.waffle-border {
  position: relative;
  bottom: 5rem;

  h1 {
    line-height: 0.5;
    text-align: center;
    font-family: $font-Playfair;
    font-size: 2.5rem;
    text-shadow: 0 1px #333;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

.borders span {
  display: inline-block;
  position: relative;
}

.borders span:before,
.borders span:after {
  content: "";
  position: absolute;
  height: 10px;
  border-bottom: 5px solid #eea804;
  top: 8px;
  width: 10rem;
}

.borders span:before {
  right: 115%;
  margin-right: 15px;
}
.borders span:after {
  left: 115%;
  margin-left: 15px;
}


  img {
    position: relative;
    bottom: 1rem;
    margin: 0 auto;
    display: block;
    width: 18%;
    border-radius: 100%;
    background-color: #f4f4f4;
  }
}

.b-container {
  margin: 3rem;
  display: flex;
  justify-content: center;
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
    width: 3.25rem;
  }


  h3 {
    margin-top: 2rem;
    font-size: 1.25rem;
    margin-bottom: 0;
    font-weight: bold;
    font-family: $font-Playfair;
  }

  p {
    width: 85%;
    margin: 0 1.6rem;
    padding: 1em;
    font-size: 1rem;
    color: $second-fcolor;
    font-family: $font-Sans;
  }

  a {
    text-decoration: none;
    background: $ptext-color;
  }
}
} // End Section Two


.section-three {
  background-color: $sthree-bg;
  color: $text-white;
  margin-top: 4rem;

  .product-yogurt {
    float: right;
    margin-top: 6.025em;
  }

  .content {
    margin-top: 5.5em;
    margin-left: 4em;
    text-align: left;
  }

  .section-three:after {
  }

  h1 {
    margin-top: 14px;
    font-size: 2.125rem;
    font-family: $font-Playfair;
  }

  h4 {
    font-size: 1rem;
  }

  p {
    width: 40%;
    margin-top: 1rem;
    font-size: 1rem;
  }

  .btn {
    margin-top: 1rem;
    background-color: $ptext-color;
    color: $text-white;
    border-color: #252525;
    font-size: 16px;
  }
}

//Map
.section-four {
  margin-top: 5.5rem;
}
.mapouter {
  overflow:hidden;
  height:325px;
  width:1260px;
}

.gmap_canvas {
  background:none !important;
  height:325px;
  width:1260px;
}

//Section menu-five
.section-five {
  background-color: #000000;
  margin-top: 5.5rem;
  padding: 4rem;
}

.contact-section {
  color: $text-white;
  margin-left: 2rem;
}

.contact-content {
  float: left;
  width: 20%;

  .email {
    padding-top: 2.125rem;
  }

  .fa-envelope, .fa-phone {
    margin: 0 3px 0 3px;
    font-size: 1.25rem;
  }
}

.opening-section {
  position: relative;
  margin-left: 2rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .hours {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.hours ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hours ul:first-child {
  font-weight: 700;
}

.hours ul:last-child {
  font-weight: 100;
}

.hours ul li {
  padding-right: 6rem;
  padding-bottom: 8px;
}

}

.clearfix:after {
  clear: both;
}

.contact-address {
  padding-top: 1.2rem;
}

.copyright {
  float: right;
  position: relative;
  left: 10%;
}

.content {
  text-align: center
}

.fa-facebook-f, .fa-instagram, .fa-twitter{
  margin: 1rem;
  font-size: 1.25rem;
}






// .section-three {
//     background: #f6f6f6;
//     height: 90vh;
//
// .history-page {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     margin-top: 2em;
//     position: relative;
//     top: 2em;
// }
//
// .his-description {
//   align-self: center;
//   position: relative;
//   top: 4em;
//   left: 8em;
//   margin: 3em;
//   padding: 2em;
// }
//
// h2 {
//   font-family: $font-Lobster;
//   font-size: 4em;
// }
//
// hr {
//   @extend .border-bottom;
//   width: 15%;
//   margin: 2rem 0;
// }
//
// p {
//   font-family: $font-Sans;
//   font-size: 1.2em;
// }
//
// .btn-default {
//   background: $hr-color;
//   color: $text-white;
//   font-family: $font-Sans;
//   text-transform: uppercase;
//   border-radius: 2px;
//   margin-top: 2rem;
//   width: 25%;
//   padding: 8px;
// }
//
// .his-image {
//     position: relative;
//     top: 5em;
//     right: 1em;
//     margin: 1em 0 0 10em;
// }
//     #stack {
//     left: 0px;
//     top: 0px;
//     z-index: -1;
//     }
//
//     #stack-right {
//     position: absolute;
//     left: 10em;
//     top: 10em;
//     }
// } // End Section Three

// .pimg2 {
//   @extend .pimg;
//   margin: 5em;
//   background-attachment: scroll;
//
//   .border {
//     color: $ptext-color;
//   }
// }
//
// .section-four {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//
// // Section Four Extends
//   .menu {
//     min-height: 100%;
//   }
//
//   .menu-opacity {
//     opacity:0; transition:opacity 300ms ease;
//   }
//
// // End Section Four Extends
//
//   .menu-one, .menu-two, .menu-three, .menu-four,
//   .menu-five, .menu-six, .menu-seven, .menu-eight, .menu-nine {
//     margin: 0 5em 5em 5em;
//     height: 100%;
//   }
//
//   .menu-one:hover {
//     background: url(../imgs/his2-final.jpg);
//     background-repeat: no-repeat;
//     margin-left: 5em;
//   }
//
//   .menu-one:hover > .menu-content {
//     @extend .menu-opacity;
//   }
//
//   .menu-two {
//     margin-top: 10em;
//   }
//
//   .menu-two:hover {
//     background: url(../imgs/his1-final.jpg);
//     background-repeat: no-repeat;
//     margin-left: 5em;
//   }
//
//   .menu-two:hover > .menu-content {
//     @extend .menu-opacity;
//   }
//
//   .menu-three:hover {
//     background: url(../imgs/his1-final.jpg);
//     background-repeat: no-repeat;
//     margin-left: 5em;
//
//   }
//
//   .menu-three:hover > .menu-content {
//     @extend .menu-opacity;
//   }
//
//   .menu-four:hover {
//     background: url(../imgs/his1-final.jpg);
//     background-repeat: no-repeat;
//     margin-left: 5em;
//   }
//
//   .menu-four:hover > .menu-content {
//     @extend .menu-opacity;
//   }
//
//   .menu-five {
//     margin-top: 10em;
//   }
//
//   .menu-five:hover {
//     background: url(../imgs/his1-final.jpg);
//     background-repeat: no-repeat;
//     margin-left: 5em;
//   }
//
//   .menu-five:hover > .menu-content {
//     @extend .menu-opacity;
//   }
//
//   .menu-six:hover {
//     background: url(../imgs/his1-final.jpg);
//     background-repeat: no-repeat;
//     margin-left: 5em;
//   }
//
//   .menu-six:hover > .menu-content {
//     @extend .menu-opacity;
//   }
//
//   .menu-seven:hover {
//     background: url(../imgs/his1-final.jpg);
//     background-repeat: no-repeat;
//     margin-left: 5em;
//   }
//
//   .menu-seven:hover > .menu-content {
//     @extend .menu-opacity;
//   }
//
//   .menu-eight {
//     margin-top: 10em;
//   }
//
//   .menu-eight:hover {
//     background: url(../imgs/his1-final.jpg);
//     background-repeat: no-repeat;
//     margin-left: 5em;
//   }
//
//   .menu-eight:hover > .menu-content {
//     @extend .menu-opacity;
//   }
//
//   .menu-nine:hover {
//     background: url(../imgs/his1-final.jpg);
//     background-repeat: no-repeat;
//     margin-left: 5em;
//   }
//
//   .menu-nine:hover > .menu-content {
//     @extend .menu-opacity;
//   }
// }
//
// // Pimg 3
//   .pimg3 {
//   @extend .pimg;
//   background-image: url(../imgs/bg-header2.jpg);
//   margin: 5em;
//   background-attachment: scroll;
//
//   .border {
//     color: $ptext-color;
//   }
// }
