//Fonts
$ptext-color: #000009;
$header-font: 'Permanent Marker', cursive;
$font-Sans: 'Source Sans Pro', sans-serif;
$font-Lobster: 'Lobster', cursive;
$text-white: #FFFFFF;
$trigger-width: 25px;
$trigger-border-weight: 3px;
$trigger-color: #fff;
$hr-color: #f41313;


//Base
body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: $font-Sans;
  font-weight: 400;
  line-height: 1.8em;
  color: $ptext-color;
}

//Border-bottom
.border-bottom {
  width: 5%;
  border-bottom: 5px solid $hr-color;
  border: 0;
  border-top: 3px solid $hr-color;
}

//Logo
  .logo {
    font-size: 3rem;
    padding: 2rem;
    margin: 1rem;
    float: left;
    clear: both;
    color: $text-white;
    font-family: $header-font;
  }

//hamburger
#hamburger-trigger {
  display: none;
}

.hamburger {
  position: absolute;
  top: 5em;
  right: 5%;
  margin-left: -2em;
  margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 5;

  div {
  position: relative;
  width: 3em;
  height: 7px;
  border-radius: 3px;
  background-color: #f8982b;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
  }
}

//Nav
.site-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #090E6B;
  top: -100vh; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);

  .nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh;
  }

  nav {
  text-align: left;
  margin-left: 25%;

  a {
   position: relative;
   text-decoration: none;
   color: #6ecddd;
   font-size: 2em;
   display: inline-block;
   margin-top: 1.25em;
   transition: color 0.2s ease-in-out;
   letter-spacing: 1px;
    }

  a:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0.25em;
  background-color: white;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
  }

} // End Nav
}// Site Menu

#hamburger-trigger:checked + .hamburger .top {
  transform: rotate(-45deg);
  margin-top: 25px;
}
#hamburger-trigger:checked + .hamburger .bottom {
  opacity: 0;
  transform: rotate(45deg);
}
#hamburger-trigger:checked + .hamburger .mid {
  transform: rotate(45deg);
  margin-top: -7px;
}

#hamburger-trigger:checked + .hamburger + .site-menu {
  top: 0;
  transform: scale(1);
}

.pimg {
  position: relative;
  opacity: 0.80;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: $text-white;
  font-size: 4rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-family: $header-font;
}

.pimg1 {
  @extend .pimg;
  background-image: url(../imgs/bg-header.jpg);
  opacity: 0.90;
}

.section-two {
  height: 100vh;
  color: $ptext-color;
  font-family: $font-Sans;

.waffle-border {
  position: relative;
  bottom: 5rem;

  h1 {
    text-align: center;
    font-family: $font-Lobster;
    font-size: 4em;
    margin-top: 5px;
    margin-bottom: 0;
  }

  img {
    position: relative;
    bottom: 1rem;
    width: 25em;
    margin: 0 auto;
    display: block;
    border-radius: 100%;
    background: $text-white;
  }

  hr {
    @extend .border-bottom;
    margin-top: 2em;
  }
}

.b-container {
  display: flex;
  justify-content: center;
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
  }

  h3 {
    margin-top: 2em;
    margin-bottom: 0;
    font-weight: bold;
  }

  p {
    margin: 0 10px;
    padding: 1em;
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
    background: $ptext-color;
  }

  hr {
    @extend .border-bottom;
    margin-top: 1rem;
    width: 3rem;
  }
}
} // End Section Two

.section-three {
    background: #f6f6f6;
    margin-top: 5em;
    height: 90vh;

.history-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2em;
    position: relative;
    top: 2em;
}

.his-description {
  align-self: center;
  position: relative;
  top: 4em;
  left: 8em;
  margin: 3em;
  padding: 2em;
}

h2 {
  font-family: $font-Lobster;
  font-size: 4em;
}

hr {
  @extend .border-bottom;
  width: 15%;
  margin: 2rem 0;
}

p {
  font-family: $font-Sans;
  font-size: 1.2em;
}

.btn-default {
  background: $hr-color;
  color: $text-white;
  font-family: $font-Sans;
  text-transform: uppercase;
  border-radius: 2px;
  margin-top: 2rem;
  width: 25%;
  padding: 8px;
}

.his-image {
    position: relative;
    top: 5em;
    right: 1em;
    margin: 1em 0 0 10em;
}
    #stack {
    left: 0px;
    top: 0px;
    z-index: -1;
    }

    #stack-right {
    position: absolute;
    left: 10em;
    top: 10em;
    }
} // End Section Three

.pimg2 {
  @extend .pimg;
  background-image: url(../imgs/bg-header2.jpg);
  margin: 5em;
  background-attachment: scroll;

  .border {
    color: $ptext-color;
  }
}

.section-four {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

// Section Four Extends
  .menu {
    min-height: 100%;
  }

  .menu-opacity {
    opacity:0; transition:opacity 300ms ease;
  }

// End Section Four Extends

  .menu-one, .menu-two, .menu-three, .menu-four,
  .menu-five, .menu-six, .menu-seven, .menu-eight, .menu-nine {
    margin: 0 5em 5em 5em;
    height: 100%;
  }

  .menu-one:hover {
    background: url(../imgs/his2-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }

  .menu-one:hover > .menu-content {
    @extend .menu-opacity;
  }

  .menu-two {
    margin-top: 10em;
  }

  .menu-two:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }

  .menu-two:hover > .menu-content {
    @extend .menu-opacity;
  }

  .menu-three:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;

  }

  .menu-three:hover > .menu-content {
    @extend .menu-opacity;
  }

  .menu-four:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }

  .menu-four:hover > .menu-content {
    @extend .menu-opacity;
  }

  .menu-five {
    margin-top: 10em;
  }

  .menu-five:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }

  .menu-five:hover > .menu-content {
    @extend .menu-opacity;
  }

  .menu-six:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }

  .menu-six:hover > .menu-content {
    @extend .menu-opacity;
  }

  .menu-seven:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }

  .menu-seven:hover > .menu-content {
    @extend .menu-opacity;
  }

  .menu-eight {
    margin-top: 10em;
  }

  .menu-eight:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }

  .menu-eight:hover > .menu-content {
    @extend .menu-opacity;
  }

  .menu-nine:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }

  .menu-nine:hover > .menu-content {
    @extend .menu-opacity;
  }
}

// Pimg 3
  .pimg3 {
  @extend .pimg;
  background-image: url(../imgs/bg-header2.jpg);
  margin: 5em;
  background-attachment: scroll;

  .border {
    color: $ptext-color;
  }
}
