@import "base.scss";

body {
  color: $text-white;
}

.pimg1 {
  background-image: url(../imgs/menu-header2.jpg);
}

.section-four {

    h1 {
      @extend .menu-headers;
    }

    h2 {
      font-size: 1.5rem;
    }

  .menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

// Section Four Extends
  .menu {
    min-height: 100%;
  }

// End Section Four Extends

  .menu-one, .menu-four, .menu-seven, .menu-ten {
    margin-left: 5rem;
  }

  .menu-two, .menu-five, .menu-eight, .menu-eleven {
    margin: 5em 4rem 0 4rem;
    padding-top: 5em;
  }

  .menu-three, .menu-six, .menu-nine, .menu-twelve {
    margin: 0 4rem 0 4rem;
  }

  .menu-one:hover {
    background: url(../imgs/yogurt1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5em;
  }

  .menu-show:hover > .menu-content {
    opacity:0; transition:opacity 800ms ease;
  }

  .menu-show {
    width: 70%;
  }

  .menu-two:hover {
    background: url(../imgs/yogurt2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5em;
  }


  .menu-three:hover {
    background: url(../imgs/yogurt3.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }

  .menu-four:hover {
    background: url(../imgs/yogurt4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5em;
  }

  .menu-five:hover {
    background: url(../imgs/yogurt5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5em;
  }

  .menu-six:hover {
    background: url(../imgs/yogurt6.jpeg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }

  .menu-seven:hover {
    background: url(../imgs/waffle1.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }
  .menu-eight:hover {
    background: url(../imgs/waffle2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5em;
  }

  .menu-nine:hover {
    background: url(../imgs/waffle3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5em;
  }

  .menu-ten:hover {
    background: url(../imgs/waffle4.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }

  .menu-eleven:hover {
    background: url(../imgs/waffle5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5em;
  }

  .menu-twelve:hover {
    background: url(../imgs/waffle6.jpg);
    background-repeat: no-repeat;
    background-position: center;

    margin-left: 5em;
  }

}

//Section Five
.section-five {
  margin: 0 2rem;
  padding: 2rem;

  h1 {
    @extend .menu-headers;
  }

  .drinks-section {
    margin: 2em auto;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

  li {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 5%;
      padding-bottom: 1rem;
    }


  .line {
      height: 3px;
      background: $text-white;
      /* vertically center the line */
      margin: auto 0;
    }

  .prices {
    line-height: 1.25;
  }

    div:first-of-type ul:first-of-type:before {
      content: '';
      position: relative;
      top: 0em;
      width: 20%;
      display: block;
      background: $text-white;
      height: 2px;
      margin-bottom: 1.25rem;
  }

  h4 {
    margin-bottom: 8px;
  }
}
