@import "base.scss";

.pimg1 {
  background-image: url(../imgs/menu-header.jpg);
}

.section-four {

    h1 {
      @extend .menu-headers;
    }

  .menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

// Section Four Extends
  .menu {
    min-height: 100%;
  }

// End Section Four Extends

  .menu-one, .menu-two, .menu-three, .menu-four,
  .menu-five, .menu-six {
    height: 100%;
  }

  .menu-one, .menu-four {
    margin-left: 5rem;
  }

  .menu-two, .menu-five {
    margin: 5em 4rem 0 4rem;
    padding-top: 5em;
  }

  .menu-three, .menu-six {
    margin: 0 4rem 0 4rem;
  }

  .menu-one:hover {
    background: url(../imgs/his2-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }

  .menu-show:hover > .menu-content {
    opacity:0; transition:opacity 400ms ease;
  }

  .menu-show {
    width: 70%;
  }

  .menu-two:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }


  .menu-three:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }

  .menu-four:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }

  .menu-five:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }

  .menu-six:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }

  .menu-seven:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }

  .menu-eight:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }

  .menu-nine:hover {
    background: url(../imgs/his1-final.jpg);
    background-repeat: no-repeat;
    margin-left: 5em;
  }
}

//Section Five
.section-five {
  padding: 2em;


  h1 {
    @extend .menu-headers;
  }

    .drinks-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drinks-content{min-width: 600px}

  .item-drinks {
    margin-top: 1rem;
    display: table;
    justify-content: space-between;
  }

  .item-drinks ul {
    margin: 0;
    padding: 0;
    display: table-cell;
    list-style: none;
  }

  .item-drinks ul:first-child {
    font-weight: 700;
  }

  .item-drinks ul:last-child {
    font-weight: 100;width: 10%;white-space: nowrap;
  }

  .item-drinks ul li {
    padding-bottom: 8px;position: relative;
}

.prices1 {
	  position: absolute;
    top: 12.5px;
	  line-height: 1;
    font-size: 18px;
}
  .borders  {
    text-align: center
  }

.borderlines span {
  display: inline-block;
  position: relative;
}

.borderlines:after {
  content: "";
  position: absolute;
  height: 10px;
  border-bottom: 5px solid #333;
  top: 8px;
  width: 10rem;
  right: 5%;
  bottom: 5px;
  margin-left: 15px;
}

.header-drinks {
  position: relative;
}

.header-drinks:after {
  content: "";
  position: absolute;
  height: 5px;
  background: #333;
  width: 5rem;
  bottom: -10px;
  left: 0;
}

}
